{% extends "base.html" %}

{% block title %} BookReader {% endblock %}

{% block container %}
<script src="https://cdn.jsdelivr.net/npm/@elibrary-inno/bookreader@latest/BookReader/webcomponents-bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@elibrary-inno/bookreader@latest/BookReader/jquery-3.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@elibrary-inno/bookreader@latest/BookReader/BookReader.css" />
<script src="https://cdn.jsdelivr.net/npm/@elibrary-inno/bookreader@latest/BookReader/BookReader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@elibrary-inno/bookreader@latest/BookReader/plugins/plugin.url.js"></script>
<style>
    #BookReader {
        top: 55px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        width: auto;
        height: auto;
    }
</style>
<div id="BookReader"></div>
<script type="text/javascript" src="{{ url_for('static', filename='bookreader.js') }}"> </script>
<script>instantiateBookReader("{{ url_for('static', filename='') }}", '#BookReader')</script>
{% endblock %}