{% extends "base.html" %}

{% block title %} PDF.js Example {% endblock %}

{% block container %}
<style>
    body {
        margin: 0;
    }

    iframe {
        display: block;
        /* iframes are inline by default */
        background: #000;
        border: none;
        /* Reset default border */
        height: calc(100vh - 56px);
        /* Viewport-relative units */
        width: 100vw;
    }
</style>
<iframe
    src="{{ url_for('static', filename='') }}pdfjs/web/viewer.html?file={{ url_for('static', filename='sample-books/000001.pdf') }}" />
{% endblock %}