{% extends "base.html" %} {% block title %}Book Catalog{% endblock %}

{% block content %}
<div>
    <h1 class="fw-bold">Book Catalog</h1>
</div>

{% if books %}
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>BISAC</th>
                <th>Year</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.authors  }}</td>
                    <td>{{ book.bisac }}</td>
                    <td>{{ book.year  }}</td>
                    <td><a href="{{ url_for('views.edit_book', book_id=book.book_id) }}">Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div>
        <p>No books to show!</p>
    </div>
{% endif %}
{% endblock %}