default:
  image:
    name: "deemp/elibrary:latest"
  before_script:
    - mkdir -p "/etc/containers/"
    - echo '{"default":[{"type":"insecureAcceptAnything"}]}' > /etc/containers/policy.json
    - ln -s /dependencies/back/static/front back/static/front
    - ln -s /dependencies/.venv .venv
    - ln -s /dependencies/front/node_modules front/node_modules

stages:
  - stage

lint:
  stage: stage
  script:
    - poetry run flake8 elibrary || true
    - poetry run pylint elibrary || true
    - (cd front && npm run lint) || true

test:
  stage: stage
  script:
    - runCI &> logs || (cat logs && false)
    - sleep 10
    - poetry run pytest &> logs.test || (cat logs && cat logs.test && false)
    - cat logs
    - cat logs.test
  environment:
    HOST: '0.0.0.0'
    PORT: 5000
    ENV: 'dev'
