default:
  image:
    name: "deemp/elibrary:latest"
  before_script:
    - mkdir -p "/etc/containers/"
    - echo '{"default":[{"type":"insecureAcceptAnything"}]}' > /etc/containers/policy.json
    - cp -R /dependencies/. .

stages:
  - stage

lint:
  stage: stage
  script:
    - poetry run flake8 elibrary || true
    - poetry run pylint elibrary || true
    - (cd front && npm run lint) || true

test:
  stage: stage
  script:
    - run &> logs || true
    - sleep 5
    - poetry run pytest &> logs.test || (cat logs && cat logs.test && false)
    - cat logs
    - cat logs.test

