[tool.poetry]
name = "elibrary"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.scripts]
elibrary = "elibrary.main:run"
page-images = "page-images.main:run"

[tool.poetry.dependencies]
python = "^3.10"
flask = "^3.0.0"
pdf2image = "^1.16.3"


[tool.poetry.group.dev.dependencies]
black = "^23.9.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
